Non-Functional: Mobile Friendly
User friendly
Functional: User can Search Zip Code
Button to switch the language between English and Spanish
Hover over Icon to reveal information
Domain-Requirements: All Users with Smartphones and Computer 
